pipeline/PL_FOREACHLOOP_ACTIVITY_2.json
{
	"name": "PL_FOREACHLOOP_ACTIVITY_2",
	"properties": {
		"activities": [
			{
				"name": "FruitList Interations",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('Fruits')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Fruits",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "FruitList",
								"value": {
									"value": "@item()",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Copy FruitList to Blob Storage",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "FruitList Interations",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "Data",
								"value": {
									"value": "@variables('FruitList')",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_VAR",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_ADLG_OUT",
						"type": "DatasetReference"
					}
				]
			}
		],
		"variables": {
			"Fruits": {
				"type": "Array",
				"defaultValue": [
					"Apple",
					"Orange",
					"Mango"
				]
			},
			"FruitList": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}